<%- include('./includes/head.ejs') %>
  <link rel="stylesheet" href="/css/dashboard.css">
  </head>

  <body>
    <div class="contain flex justify-center items-center">
     <h1 class="font-bold text-3xl text-red-700">Error!</h1>
     <p class="font-bold text-xl text-red-700">Something went wrong!</p>

    </div>

    <%- include('./includes/end.ejs') %>