<%- include('./includes/head.ejs') %>
  </head>

  <body>
    <main id="index-page" class="flex flex-row h-full justify-evenly items-center w-full bg-transparent">
      <div id="index-icon"><img src="./images/index2.svg"  alt=""></div>
      <div id="heroContent" class="flex flex-col justify-center items-center gap-8  mt-2 w-1/2">
        <h1 class="font-semibold text-2xl uppercase">noteboard</h1>
        <p class="text-xl">
         Never forget a thing! Take notes, organize your thoughts.<br>
          Create, edit, and delete notes with ease. Include text, headings, lists, and checklists.
        </p>
        <p class="text-xl">
          Get started with your notes now!
        </p>
        <div id="auth-button-container">
          <a href="/signup" class="p-2 font-semibold rounded-md bg-indigo-500 text-white hover:bg-indigo-700">Get Started</a>
        </div>
      </div>
      <div id="indexImage" class="w-1/2 flex justify-center items-center">
        <img src="./images/index2.svg" class=" p-8" alt="">
      </div>
    </main>

    <%- include('./includes/end.ejs') %>